body {
    margin: 0;
    background: #ffe7cf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none !important;
}

#menu {
    position: relative;
}

#menu>* {
    position: absolute;
    right: 0;
    translate: 50% 50%;
}

#menu h1 {
    bottom: 320px;
    color: #333;
    font-size: 40px;
}

#mode {
    bottom: 280px;
    display: flex;
    font-size: 26px;
    letter-spacing: 0.5px;
}

#mode> :hover {
    text-decoration: underline;
}

#mode>* {
    background: linear-gradient(to bottom right, #888697, #9697a2);
    background-clip: text;
    color: transparent;
    cursor: pointer;
    user-select: none;
}

#mode>.selected {
    background: linear-gradient(to bottom right, #2a3e98, #495a9c);
    background-clip: text;
}

#divider {
    margin: 0 8px;
    width: 2px;
    height: 1lh;
    position: relative;
}

#divider::after {
    content: "";
    position: absolute;
    background-color: #9697a2;
    top: -1px;
    bottom: -1px;
    left: 0;
    right: 0;
}

#balls {
    bottom: -30px;
}

#balls>* {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    translate: 50% 50%;
    border: 2px solid #333;
}

#balls>*>canvas {
    position: absolute;
    right: 50%;
    bottom: 50%;
    translate: 50% 50%;
    pointer-events: none;
}

#balls>*>span {
    position: absolute;
    right: 50%;
    translate: 50% 0;
    color: #333;
    font-style: italic;
    font-size: 14px;
    width: 90px;
}

#balls>.selected,
.ffa #balls>* {
    background-color: #c9dcff;
}

.ffa #balls>* {
    cursor: auto;
    pointer-events: none;
}

#dramatic-toggle {
    position: absolute;
    bottom: -365px;
    color: #333;
    cursor: pointer;
    display: flex;
    white-space: nowrap;
    border: 2px #333 inset;
    background-color: #f7eeee;
    padding: 7px 9px;
    align-items: center;
}

#dramatic-toggle input {
    margin-right: 8px;
    margin-left: 1px;
    width: 18px;
    height: 18px;
    border-radius: 0 !important;
}

#start {
    position: absolute;
    bottom: -30px;
    font-size: 24px;
    color: black;
    border: 2px solid #c10000;
    background-color: #ff978e;
    padding: 16px 20px;
    cursor: pointer;
}

#menu:not(.ffa) #start.disabled {
    pointer-events: none;
}

#menu:not(.ffa) #start.disabled::after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    content: "";
    background-color: #cebcaa;
    opacity: 0.65;
}

#battle-ui {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 4px;
    font-size: 18px;
    color: #333;
}

.ball-info {
    padding: 8px 12px;
    border-radius: 8px;
    min-width: 100px;
}

.ball-info .name {
    font-weight: bold;
    margin-bottom: 4px;
}

#ball2-info {
    text-align: right;
}

.stat {
    font-size: 16px;
}

#battle ul {
    margin: 0;
    padding: 0;
}

#battle li {
    list-style: none;
    white-space: nowrap;
}

.na {
    color: #7f7f7f;
    font-style: italic;
}

.hp-bar {
    position: relative;
    display: flex;
    margin-bottom: 3px;
}

#ball2-info .hp-bar {
    flex-direction: row-reverse;
}

.hp-bar>span {
    position: absolute;
    bottom: 50%;
    translate: 0 50%;
    font-weight: bold;
    font-size: 18px;
}

.ded {
    font-size: 32px;
}

/* FFA Leaderboard */
#battle {
    display: flex;
    align-items: center;
}

#battle.ffa-mode #battle-ui {
    display: none;
}

#leaderboard {
    display: none;
    margin-left: 60px;
    overflow-y: auto;
    position: relative;
    width: 200px;
    height: 668px;
}

.dmg {
    left: 118px;
    color: #777;
    white-space: nowrap;
}

#battle.ffa-mode #leaderboard {
    display: flex;
}

.lb-entry {
    color: #333;
    position: absolute;
    transition: top 0.3s ease;
}

.lb-entry.dead {
    opacity: 0.5;
}

.lb-entry .name {
    font-weight: bold;
    margin-bottom: 4px;
}

.lb-entry .hp-bar>:first-child {
    left: 7px;
}