body {
    margin: 0;
    background: #ffe7cf;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
    font-size: 18px;
}

canvas {
    background: #fff;
    border: 3px solid #000;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}